@page "/"
@page "/search/{SearchText}"
@page "/{categoryUrl}"
@inject IProductService productService

<PageTitle>My shop</PageTitle> 

<ProductList />

<div class="container mt-3">
<h2>Media Object</h2>
<p>Create a media object without .media and .media-body classes (BS5):</p>

@*Create a media object without .media and .media-body classes -(BS5):*@
<div class="d-flex border p-3">
    <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png" alt="John Doe"
         class="flex-shrink-0 me-3 mt-3 rounded-circle" style="width:60px;height:60px;">
    <div>
        <h4>John Doe <small>Posted on February 19, 2016</small></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
    </div>
</div>
</div>

@code{
    [Parameter]
    public string? CategoryUrl { get; set; } = null;

    [Parameter]
    public string? SearchText { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        if (SearchText != null)
        {
            await productService.SearchProducts(SearchText);
        } else
        {
            await productService.GetProducts(CategoryUrl);
        }
        
    }


}