@inject NavigationManager NavigationManager
<style>
    .home-button {
        white-space: nowrap;
        margin-right: 10px;
        transform: rotate(-5deg);
    }
</style>

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">My Shop</button>

@code {

    private void GoToHome(){
        NavigationManager.NavigateTo("");
    }
}
