@inherits LayoutComponentBase

<div class="page">


    <main>
        <div class="top-r px-2">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            <HomeButton></HomeButton>
            <Search></Search>
            <CartCounter></CartCounter>
        </div>

        <div class="nav-menu">
            <ShopNavMenu></ShopNavMenu>
        </div>

        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
