@inherits LayoutComponentBase

<div class="page">


    <main>

        <div class="top-row">
        @*<HomeButton></HomeButton>*@
        <Search></Search>
        <UserButton></UserButton>
        <CartCounter></CartCounter>
        </div>

        <div class="nav-bar">
            <ShopNavMenu></ShopNavMenu>
        </div>


        <article class="content">
            @Body
        </article>
    </main>
</div>
